<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">


</head>
<body >


<div th:replace="fragments/header :: header">
    <div class="page-header"></div>
</div>

<div class="wrapper row2">
    <div class="hoc container clear row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="row form-horizontal" action="#" method="post">

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="site" class="col-md-4 control-label">Site</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="site" name="id_site">
                                        <option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.nom}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="tournee" class="col-md-4 control-label">Numero Tournee</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="tournee" name="id_tournee">
                                        <option selected="selected">All</option>
                                        <option th:each="tour : ${tournees}" th:value="${tour.id}" th:text="${tour.numero}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <ul class="nospace inline pushright">
                <li><a class="btn" th:href="@{/bls/add}">Ajouter Une Boite à Lettre</a></li>
            </ul>
            <br/>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <table class="table-striped" id="dataTable">
                        <caption><h3>Liste Boite à Lettre</h3></caption>
                        <thead class="drop">
                        <tr class="drop">
                            <th>#</th>
                            <th>Adresse</th>
                            <th>Type</th>
                            <th>Code Postal</th>
                            <th>Etat</th>
                            <th>Tournee Numero</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each="bl :${bls}">
                            <td th:text="${bl.id}"></td>
                            <td th:text="${bl.adresse}"></td>
                            <td th:text="${bl.type}"></td>
                            <td th:text="${bl.cp}"></td>
                            <td th:text="${bl.etat}"></td>
                            <td th:text="${bl?.tournee?.numero}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
    <div class="page-footer"></div>
</div>


<script type="text/javascript" th:src="@{../layout/scripts/jquery.backtotop.js}"></script>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.mobilemenu.js}"></script>
<script type="text/javascript" th:src="@{../local/js/bls.js}"></script>
</body>
</html>