<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">


</head>
<body >


<div th:replace="fragments/header :: header">
    <div class="page-header"></div>
</div>

<div class="wrapper row2">
    <div class="hoc container clear row">
        <div class="col-md-12">
            <form class="row form-horizontal" action="#" method="post">
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="ville" class="col-md-4 control-label">Ville</label>
                        <div class="col-md-8">
                            <select class="form-control" id="ville" name="id_ville">
                                <option selected="selected">All</option>
                                <option th:each="ville : ${villes}" th:value="${ville.id}" th:text="${ville.nom}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="site" class="col-md-4 control-label">Site</label>
                        <div class="col-md-8">
                            <select class="form-control" id="site" name="id_site">
                                <option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.nom}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn">Rechercher</button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <ul class="nospace inline pushright">
                <li><a class="btn" th:href="@{/facteur/add}">Ajouter Un Facteur</a></li>
            </ul>
            <br/>
            <table class="table-striped" id="dataTable">
                <caption><h3>Liste Facteur</h3></caption>
                <thead class="drop">
                <tr class="drop">
                    <th>#</th>
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Site</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="fac :${facteurs}">
                    <td th:text="${fac.id}"></td>
                    <td th:text="${fac.matricule}"></td>
                    <td th:text="${fac.nom}"></td>
                    <td th:text="${fac.prenom}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
    <div class="page-footer"></div>
</div>
<script>
    $(document).ready(function() {
        $("#datepicker").datepicker();
        $('#dataTable').DataTable();

    } );
</script>

<script type="text/javascript" th:src="@{../layout/scripts/jquery.backtotop.js}"></script>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.mobilemenu.js}"></script>

</body>
</html>