<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">


</head>
<body >


<div th:replace="fragments/header :: header">
    <div class="page-header"></div>
</div>

<div class="wrapper row2">
    <div class="hoc container clear">
            <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">Ajouter une nouvelle région</a></li></ul>

  <br/>
        <table class="table-striped" >
            <thead class="drop">
                <tr class="drop">
                    <th>Région</th>
                    <th>Drap</th>
                    <th >Opération</th>
                </tr>
            </thead>
            <tbody >
            <tr>
              <td></td>
              <td></td>

                <td >
                <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">Modifier</a></li><li><a class="btn" href="#">Supprimer</a></li>
                </ul>
                </td>
            </tr>

            </tbody>
        </table>
      </div>

  </div>

<div th:replace="fragments/footer :: footer">
    <div class="page-footer"></div>
</div>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.backtotop.js}"></script>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.mobilemenu.js}"></script>
<script type="text/javascript" th:src="@{../lib/js/jquery-3.2.1.js}" />
</body>
</html>