<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nodelle</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link th:href="@{../layout/styles/layout.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->

        <div class="fl_right">
            <ul class="nospace">
                <li><i class="fa fa-phone"></i> +212 656557890</li>
                <li><i class="fa fa-envelope-o"></i> manar@domain.com</li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <h1><a href="index.html">POSTE MAROC</a></h1>

        </div>
        <!-- ################################################################################################ -->
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="index.html">Accueil</a></li>
                <li><a class="drop" href="/pages/tournee.js">Tournées</a>
                    <ul>
                        <li><a href="pages/gallery.html"></a></li>
                        <li><a href="pages/full-width.html"></a></li>
                    </ul>
                </li>
                <li ><a class="drop" href="pages/gallery.html">RH</a>
                    <ul class="drop" href="#">
                        <li><a class="drop" href="#">Personnel</a></li>
                        <li><a class="drop" href="#">Facteurs</a></li>
                    </ul>
                </li>
                <li><a href="#">Cyclo</a></li>
                <li><a href="#">ZND</a></li>
                <li><a href="pages/sidebar-right.html">BLS</a></li>
                <li><a href="pages/basic-grid.html">Régions</a></li>
            </ul>
        </nav>
        <!-- ################################################################################################ -->
    </header>
</div>




<div class="wrapper row2">
    <div class="hoc container clear">
        <ul class="nospace inline pushright">
            <li><a class="btn" href="#">Ajouter un nouveau Site</a></li></ul>

        <br/>
        <table class="table-striped" >
            <thead class="drop">
            <tr class="drop" >
                <th>Nom de Site</th>
                <th>Code Postal</th>
                <th >Type</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="site : ${sites}">
                <td th:text="${site.nom}"></td>
                <td th:text="${site.cp}"></td>
                <td th:text="${site.type}"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>




<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Manar Kessou</a></p>

        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script type="text/javascript" th:src="@{../layout/scripts/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.backtotop.js}"></script>
<script type="text/javascript" th:src="@{../layout/scripts/jquery.mobilemenu.js}"></script>
<script type="text/javascript" th:src="@{../lib/js/jquery-3.2.1.js}" />


</body>
</html>